.imageContainerLandscape {
  position: relative;
  max-width: 2400px;
  margin: auto;
}
.imageContainerPortrait {
  position: relative;
  max-width: 1728px;
  margin: auto;
}
.miniatureAbsoluteContainer {
  position: absolute;
  top: 0;
  bottom: 0;
}
.landscapeSpacer {
  height: calc(100% - 160px);
}
.portraitSpacer {
  height: calc(100% - 267px);
}

.miniature:hover {
  opacity: 0;
}
.landscape{
  width: 100%;
  max-width: 2400px;
  height: auto;
  margin: auto;
}
.portrait{
   width: 100%;
  max-width: 1728px;
  height: auto;
  margin: auto;
}
.miniatureLandscape{
  width: 240px;
  height: auto;
  margin: 0;
  position: sticky;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease;

}
.miniaturePortrait{
  width: 178px;
  height: auto;
  margin: 0;
  position: sticky;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.miniatureLandscape:hover,
.miniaturePortrait:hover {
  opacity: 0;
}

@media (max-width: 1024px) {
  .miniatureAbsoluteContainer {
    display: none;
    visibility: hidden;
  }
}